/* CSS DOCUMENT */
@charset "UTF-8";

@font-face {
    font-family: "WorkSans Black";
    src: url(fuentes/WorkSans-Black.ttf) format(truetype);
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: "DuruSans Regular";
    src: url(fuentes/DuruSans-Regular.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Rubik SemiBold Italic";
    src: url(fuentes/Rubik-SemiBoldItalic.ttf) format(truetype);
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Rubik SemiBold";
    src: url(fuentes/Rubik-SemiBold.ttf) format(truetype);
    font-weight: bold;
    font-style: normal;
}

/*aca empiezan las aplicaciones*/

* {
font-family: "DuruSans Regular", sans-serif;
    font-size: small;
    text-align: center;
    text-decoration: none;
    color: rgb(218, 234, 237);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(0, 70, 200);
}

header {
    line-height: 6vh;
    display: flex;
    justify-content: center;
    height: 10vh;
    padding: 15px;
}

nav {
    display: flex;
    gap: 40px;
    font-size: 0.9rem;
    align-items: center;
    }

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    width: 100vw;
}

.contenedor {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    max-width: 1450px;
}

.boton {
    display: flex;
    max-height: 45px;
    padding: 10px 20px;
    border-radius: 25px;
    border: 1px solid #f9f0f3;
    background: transparent;
    cursor: pointer;
    align-items: center;
}

.gustos {
    gap: 8px;
    display: flex;
    align-items: center;
}
.carrusel {
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 80px 0px;
}

.grid-container {
    gap: 25px;
    width: 1400px;
    padding: 5px;
    display: grid;
    grid-template-columns: 700px 50%;
}

.grid-item {
    font-size: 2.5em;
    display: flex;
    width: 700px;
    height: 400px;
    font-family: Rubik SemiBold;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

.a {
    background-image: url(img/hover-2-a.jpg);
}

.b {
    background-image: url(img/hover-1-a.jpg);
}

.c {
    background-image: url(img/hover-3-a.jpg);
}

.d {background-image: url(img/hover-4-a.jpg);
}

h1 {
    line-height: 1;
    font-family: 'WorkSans Black', 'Arial Narrow', Arial, sans-serif;
    font-size: 10.5rem;
}

h2 {
    font-family: 'Rubik SemiBold Italic', 'Arial Narrow', Arial, sans-serif;
    color: rgb(30, 30, 30);
    font-size: larger;
    line-height: 0rem;
}

h3 {
    font-size: large;
    padding: 10px 0px;
    font-family: 'Rubik SemiBold', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
}

h4 {
    font-family: 'Rubik SemiBold', 'Arial Narrow', Arial, sans-serif;
    font-size: 3rem;
    text-align: left;

}

p {
    text-align: justify;
    line-height: 1.8rem;
    max-width: 500px;
}

#intro {
    padding: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

#presentation {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 52vh;
    line-height: 5.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
}

#quien {
    max-width: 1450px;
    display: flex;
    width: 100vw;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

#works {
    display: flex;
    padding: 35px;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}



#cv {
    padding: 0px 450px 0px 295px;
    display: flex;
    flex-direction: row;
}

.about {}

article {
    padding: 10px 0px;

}

footer {
    line-height: 6vh;
    display: flex;
    justify-content: center;
    height: 10vh;
    padding: 15px;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

li {
    line-height: 1.6rem;
    gap: 10px;
    display: flex;
    align-items: center;
}

.volver {
    padding: 10px;
}

.grid-imagenes {
    gap: 15px;
    grid-template: auto / repeat(2, 0fr);
    display: grid;
    justify-content: center;
}

.centrar {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1200px) {}