/* CSS DOCUMENT */
@charset "UTF-8";

@font-face {
    font-family: "WorkSans Black";
    src: url(fuentes/WorkSans-Black.ttf) format(truetype);
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: "DuruSans Regular";
    src: url(fuentes/DuruSans-Regular.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Rubik SemiBold Italic";
    src: url(fuentes/Rubik-SemiBoldItalic.ttf) format(truetype);
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Rubik SemiBold";
    src: url(fuentes/Rubik-SemiBold.ttf) format(truetype);
    font-weight: bold;
    font-style: normal;
}

/*aca empiezan las aplicaciones*/

* {
    font-family: "DuruSans Regular", sans-serif;
    text-align: center;
    list-style: none;
    text-decoration: none;
    color: rgb(226, 226, 226);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(21, 21, 21);
}

header {
    line-height: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 10vh;
    padding: 15px;
    background-color: rgb(21, 21, 21);
}

nav {
    display: flex;
    gap: 20px;
    font-size: 0.9rem;
}

section {
    width: 100vw;
}

h1 {
    margin: -1rem;
    font-family: 'WorkSans Black', 'Arial Narrow', Arial, sans-serif;
    font-size: 10rem;
}

h2 {
    font-family: 'Rubik SemiBold Italic', 'Arial Narrow', Arial, sans-serif;
    margin: 0rem;
    font-size: larger;
    line-height: 0rem;
}

h3 {
    padding: 0;
    font-family: 'Rubik SemiBold', 'Arial Narrow', Arial, sans-serif;
    max-width: 300px;
}

p {
    text-align: justify;
    line-height: 1.7rem;
    max-width: 500px;
}

#intro {
    background-image: url(bannermoska.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 58vh;
    padding: 10px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#presentation {
    background-image: url(bannermoskados.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    padding: 100px;
    margin: 0px;
    line-height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
}

#works {
    display: flex;
    justify-content: center;
    padding: 40px;
    gap: 70px;
}

footer {
    padding: 40px 60px;
    display: flex;
    justify-content: center;
    gap: 100px;
}

.footer-section {
    max-width: 250px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}